#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

	macros {
        qbt: qbittorrent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp Q &kp B &kp I &kp T &kp RET>
                ;
        };
        tlgrm: telegram {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp T &kp E &kp L &kp E &kp RET>
                ;
        };
        obs: obs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp O &kp B &kp S &kp RET>
                ;
        };
        stm: steam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp S &kp T &kp E &kp A &kp RET>
                ;
        };
        zoom: zoom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp Z &kp O &kp O &kp M &kp RET>
                ;
        };
        oxf: oxford_learners_bookshelf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp O &kp X &kp F &kp O &kp RET>
                ;
        };
        pnt: paint {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LGUI &kp P &kp A &kp I &kp N &kp RET>
                ;
        };
    };


    keymap {
        compatible = "zmk,keymap";
		
        default_layer {
            display-name = "Default Layer";

            bindings = <
               &kp ESC   &kp RET   &kp SPACE
               &mo 1     &kp UP    &mo 2
               &kp LEFT  &kp DOWN  &kp RIGHT
            >;

        };
        
        lower_layer {
            display-name = "Lower Layer (1)";
			
            bindings = <
               &tog 3     &qbt       &kp F4
               &none      &kp TAB    &kp LALT
               &kp PG_DN  &kp LCTRL  &kp PG_UP
            >;
        };

        raise_layer {
            display-name = "BT and reset (2)";
			
            bindings = <
              &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2
              &bt BT_CLR      &none         &none
              &studio_unlock  &sys_reset    &bootloader
            >;
        };
        
        macro_layer {
            display-name = "Macro Layer (3)";
			
            bindings = <
              &tlgrm  &zoom   &oxf
              &none   &tog 3  &pnt
              &obs    &stm    &qbt
            >;
        };
    };
};